

.TextArea {
    -fx-background-color: transparent; /* Set the background color */
    color: #000000;           /* Set the text color (adjust as needed for contrast) */
    border: 1px solid #8B7D4B; /* Optional: border color to complement the background */
    font-family: Arial, sans-serif; /* Optional: set a font */
    font-size: 16px;              /* Optional: set font size */
    padding: 10px;                /* Optional: set padding for better appearance */
    border-radius: 5px;           /* Optional: rounded corners */
}


.table-cell {
    -fx-font-size: 20px; /* Adjust the font size */
    -fx-font-family: "Segoe UI"; /* Set the font family */
}
